{% extends 'index.html' %}
{% load static %}
{% block content %}

<main>
 

    </section>
    <section id="video-streams">
        
    </section>


    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img id="mic-btn" src="https://img.icons8.com/ios-filled/30/000000/microphone--v1.png"/>
        </div>

        <div class="icon-wrapper">
            <img id="camera-btn" src="https://img.icons8.com/ios-filled/30/000000/camera--v1.png"/>
        </div>

        <div class="icon-wrapper">
            <img id="leave-btn" src="https://img.icons8.com/emoji/28/000000/cross-mark-emoji.png"/>
        </div>
    </section>
</main>
{% endblock content %}